NEXT_PUBLIC_API_KEY= eyJpdiI6ImVTYWJmT2NidnFiVW1sVEJscTdJTEE9PSIsInZhbHVlIjoiQ3RqQmtHMGN6OENPMjdnNjFFQkx5UT09IiwibWFjIjoiNjc5YmVkNDgxYWFhNjVmMTBmZTg1MmVlZDhlYzNiMzI0NmFjNWZkYTU3YmZhMjAxYWU5MDJmNTUwZmVkMzZiOSIsInRhZyI6IiJ9
NEXT_PUBLIC_HEADER_LOGO = // website logo
NEXT_PUBLIC_HEADER_NAME = // website name 
NEXT_PUBLIC_Description = // website Description 


